.fondoImagen{
    background-image: url('../ejercicio/images/back-lock.jpg');
    color:white;
    padding: 200px 0px 190px 0px;
    font-size: 30px;
}
hr {border: 5px; 
	height: 0; 
	width:60px; 
	box-shadow: 0 1px 5px 1px black;
}
.video{
	background-image: url('../ejercicio/images/bg3.jpg');
	color:white;
		.videito{
		padding:30px 0px 30px 0px;
	}
}
